.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1373px;
    width: 1373px;

    overflow: hidden;
    @media (max-width: 1420px)  {
        width: 1380px;
    }
}